@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

body {
  font-family: 'Mukta', sans-serif;
}

.card-responsive {
  width: 100%;
}
@media (min-width: 576px) {
  .card-responsive {
    max-width: 18rem;
  }
}


.card-resumen {
  max-height: 140px;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.card-expandida {
max-height: 1000px !important;
overflow: visible;
}

.btn-toggle {
margin-top: 10px;
}

.card-title img:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
}

.carousel-item img {
  height: 1000px;
  object-fit: cover;
}


#carouselExampleSlidesOnly {
  position: relative;
}

#carouselExampleSlidesOnly .carousel-item img {
  filter: brightness(50%);
}

.welcome-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.welcome-text .content {
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 4rem;
}