.card-responsive {
  width: 100%;
}
@media (min-width: 576px) {
  .card-responsive {
    max-width: 18rem;
  }
}

/*card*/
.card-resumen {
  max-height: 140px;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.card-expandida {
max-height: 1000px !important;
overflow: visible;
}

.btn-toggle {
margin-top: 10px;
}

.card-title img:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
}